<h3>Sign up</h3>
<p>Select a subscription plan</p>
<div class="row">
  <div class="col-6 offset-3">
    <ul class="list-group">
      <% @plans.each do |plan| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h4><%= plan.label %></h4>
          <ul>
            <li><%= plan.price %></li>
            <li><%= plan.duration %><%= plan.duration_unit %></li>
          </ul>

          <%= link_to 'Start', sessions_home_url(plan_id: plan.id), class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>